@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
  background: #2c3e50;
}

hr {
  margin: 1rem 0;
}

[v-cloak] {
  display: none;
}

strong,
.bold {
  font-weight: 500;
}

ol,
p,
ul {
  line-height: 1.7;
}

a {
  color: #3eaf7c;
  font-weight: 500;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.45;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eaecef;
}

h3 {
  font-size: 1.35rem;
}

.primary {
  color: #42b983;
}

.danger {
  color: #e53935;
}

.btn {
  color: #42b983;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:disabled {
  background: #eee!important;
  border: 1px solid #ddd!important;
  color: #aaa!important;
  cursor: not-allowed;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn.primary {
  background: #42b983;
  color: #fff;
}

.btn.danger {
  background: #e53935;
  color: #fff;
  border-color: #e53935;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
}

.container.grid {
  display: grid;
  grid-template-columns: auto 300px;
  grid-gap: 0.5em;
}

.pre {
    overflow: hidden;
    display: block;
    max-width: 100%;
    background: white;
    min-width: 100%;
    max-height: 400px;
    padding: 0.05em 0.25em 0.05em 0.25em;
    margin-bottom: 0.4rem;
    outline: 0.12em dashed #cacccf;
}

.pre_overflow {
    outline: 0.05em dashed #cacccf;
    padding: 0.25em;
    height: max-content;
    max-height: 350px;
}
.pre_overflow .overflow {
    overflow: hidden;
    display: block;
    max-width: 100%;
    background: white;
    min-width: 100%;
    max-height: 340px;
    padding: 0.0em 0.1em 0.0em 0.1em;
    margin-bottom: 0.4rem;
}
.pre_overflow:hover .overflow {
    border-top: 0.14em dashed rgba(0, 62, 207, 0.50);
    border-bottom: 0.14em dashed rgba(0, 62, 207, 0.50);
}

.pre:hover,
.pre:hover .pre_overflow {
    outline: 0.14em dashed #7cc173;
}

.pre:hover .pre_overflow:hover {
    outline: 0.14em dashed #c1715a;
}

.pre_overflow .overflow {
  overflow: auto;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 0.8em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0.0rem 0.1rem 0.0rem 0.1rem;
}

pre.default {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.2rem 0.3rem 0.3rem 0.2rem;
}

pre.custom {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.0rem 0.0rem 0.0rem 0.0rem;
}
#block_debug_main_2.pre {
  padding: 0.05em 0.25em 0.35em 0.25em;
}

pre:hover {
  cursor:help;
}

pre:nth-child(1n) {
  background: rgba(0, 62, 207, 0.20);
}
pre:nth-child(1n):hover {
  outline: 0.14em dashed rgba(0, 62, 207, 0.50);
}

pre:nth-child(2n) {
  background: rgba(3, 207, 25, 0.20);
}

pre:nth-child(2n):hover {
  outline: 0.14em dashed rgb(5, 183, 0);
}

.pt-5 {
  padding-top: 5rem;
}

.form-control {
  position: relative;
  margin-bottom: 0.5rem;
}

.form-control input {
  margin: 0;
  outline: none;
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  color: #2c3e50;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  font-size: 1rem;
}

.form-control label {
  display: block;
  margin: 0 0 0.3rem 0.3rem;
  font-weight: 500;
}

.form-control input:active,
.form-control input:focus {
  transition: border 0.22s;
  border: 2px solid #42b983;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.card.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.steps {
  position: relative;
}

.steps-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  justify-content: space-between;
}

.steps-item {
  vertical-align: middle;
  text-align: center;
  padding: 0.2em;
}

.steps-item:hover {
  cursor: pointer;
}

.steps-item .steps-scale {
  position: relative;
  display: inline-block;
}

.steps-item span {
  display: block;
  border-radius: 50%;
  opacity: 1;
  padding: .58rem 1.0rem;
  font-size: .75rem;
  font-weight: bold;
  background: #cccccc;
  width: max-content;
  border: 0.01em solid transparent;
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  transition: transform 50ms ease-in-out;
}

.steps-item span:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 7px 1px #00adffd9;
  box-shadow: 0px 0px 7px 1px #00adffd9;
  border: 0.01em solid #00000012;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 50ms ease-in-out;
}

.steps-content {
  margin-bottom: 1rem;
}

.steps-item.active span, .steps-item.done span {
  background: #42b983;
}

.steps-item.active span:hover, .steps-item.done span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.steps-item.active span {
  font-weight: bold;
  color: #ffffff;
}
